/*  Extra small devices (portrait phones, less than 320px) */

@media (max-width: 320px) {
    /* header part start */
    .navbar-light .navbar-toggler-icon {
        font-size: 18px;
    }
    .header {
        padding: 0px 0;
    }
    .main-content {
        padding: 90px 0;
    }
    .main-content::after {
        position: absolute;
        content: '';
        width: 76%;
        height: 3px;
        background: #9ab4be;
        top: 31%;
        left: 12%;
    }
    .main-content::before {
        position: absolute;
        content: '';
        width: 76%;
        height: 3px;
        background: #9ab4be;
        top: 50%;
        left: 12%;
    }
    .main-content h2 {
        font-size: 30px;
        letter-spacing: 3px;
    }
    .main-content p {
        font-size: 12px;
    }
    /* header part end */
    /* about part start */
    .about {
        padding: 20px 0;
    }
    .about-img {
        text-align: center;
    }
    .about-content {
        text-align: center;
    }
    .about-content h4 {
        font-size: 16px;
        padding: 8px 0;
    }
    .about-content p {
        font-size: 13px;
        padding-bottom: 0;
    }
    .btn-custom {
        font-size: 12px;
        padding: 10px 28px;
    }
    /* about part end */
    /* service part start */
    .service {
        padding: 30px 0;
    }
    .service-content {
        margin-bottom: 35px;
    }
    .service-title h2 {
        font-size: 29px;
        padding-bottom: 0px;
    }
    .service-title p {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        color: #000000;
    }
    /* service part end */
    /* experience and education part start */
    .experience {
        padding: 40px 0;
    }
    .work-experience {
        margin-bottom: 15px;
        padding: 20px 20px;
    }
    .work-experience h2 {
        font-size: 26px;
        padding-bottom: 5px;
        text-align: center;
    }
    .work-experience h5 {
        font-size: 16px;
        padding-bottom: 0px;
        text-align: center;
    }
    .work-experience p {
        font-size: 14px;
        text-align: center;
    }
    /* experience and education part end */
}


/*  Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    /* header part start */
    .navbar-light .navbar-toggler-icon {
        font-size: 18px;
    }
    .header {
        padding: 0 0;
    }
    .main-content {
        padding: 90px 0;
    }
    .main-content::after {
        top: 30%;
    }
    .main-content::before {
        top: 52%;
    }
    .main-content h2 {
        font-size: 35px;
        letter-spacing: 3px;
    }
    .main-content p {
        font-size: 13px;
    }
    /* header part end */
    /* about part start */
    .about {
        padding: 20px 0;
    }
    .about-img {
        text-align: center;
    }
    .about-content {
        text-align: center;
    }
    .about-content h4 {
        font-size: 18px;
        padding: 8px 0;
    }
    .about-content p {
        font-size: 13px;
        padding-bottom: 0;
    }
    .btn-custom {
        font-size: 12px;
        padding: 10px 28px;
    }
    /* about part end */
    /* service part start */
    .service {
        padding: 35px 0;
    }
    .service-title h2 {
        padding-bottom: 0;
    }
    .service-content {
        padding: 70px 0;
        margin-bottom: 30px;
    }
    /* service part end */
    /* experience and education part start */
    .experience {
        padding: 40px 0;
    }
    .work-experience {
        margin-bottom: 30px;
        padding: 36px 70px;
    }
    /* experience and education part end */
}


/*  Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    /* header part start */
    .navbar-light .navbar-toggler-icon {
        font-size: 18px;
    }
    .header {
        padding: 0px 0;
    }
    .main-content {
        padding: 110px 0;
    }
    .main-content::after {
        top: 31%;
    }
    .main-content::before {
        top: 52%;
    }
    .main-content h2 {
        font-size: 48px;
        letter-spacing: 5px;
    }
    .main-content p {
        font-size: 18px;
    }
    /* header part end */
    /* about part start */
    .about-content p {
        font-size: 14px;
        padding-bottom: 10px;
    }
    .btn-custom {
        font-size: 13px;
        padding: 13px 35px;
    }
    /* about part end */
    /* service part start */
    .service {
        padding: 35px 0;
    }
    .service-title h2 {
        padding-bottom: 0;
    }
    .service-content {
        padding: 70px 0;
        margin-bottom: 30px;
    }
    /* service part end */
    /* experience and education part start */
    .experience {
        padding: 40px 0;
    }
    .work-experience {
        margin-bottom: 30px;
        padding: 36px 70px;
    }
    /* experience and education part end */
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* header part start */
    .header {
        padding: 0px 0;
    }
    .main-content {
        padding: 50px 0;
    }
    .main-content::after {
        top: 20%;
    }
    .main-content::before {
        top: 58%;
    }
    .main-content h2 {
        font-size: 67px;
        letter-spacing: 5px;
    }
    .main-content p {
        font-size: 24px;
    }
    /* header part end */
    /* about part start */
    .about-content p {
        padding-bottom: 0;
    }
    /* about part end */
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    ...
}